// 主题绿
@theme_color: #3ac17e;
// 深度灰
@dark_gray: #545454;

* {
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

*:not(input,textarea) { 
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
}

body {
    -webkit-overflow-scrolling: touch;
}

.am-navbar {
    position: relative;
}

.am-navbar-light {
}

.am-navbar-left {
    padding-left: 0 !important;
}

.am-navbar.am-navbar-light:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #E0E0E0 !important;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.am-accordion .am-accordion-item .am-accordion-header {
    background-color: #f5f5f5 !important;
    font-size: 16px !important;
}

.am-list-item .am-list-line {
    .am-list-content {
        font-size: 16px !important;
    }
    .am-list-extra {
        flex-basis: 50% !important;
        color: @dark_gray !important;
        overflow: visible !important;
        text-overflow: clip !important;
        white-space: normal !important;
    }
}

.am-navbar-light .am-navbar-title {
    margin-left: 15px;
}

.am-search {
    margin-top: 45px;
    background-color: #f5f5f8 !important;
}

.am-search-input {
    border-radius: 6px !important;
}

.am-accordion .am-accordion-item .am-accordion-header[aria-expanded="false"] {
    background-color: #fff !important;
}

.am-accordion .am-accordion-item .am-accordion-header[aria-expanded="true"] {
    background-color: #f5f5f5 !important;
}

.am-list-view-scrollview {
    height: 100%;
}

.am-grid .am-flexbox .am-flexbox-item .am-grid-item-content {
    height: auto !important;
}

.am-toast-notice-content .am-toast-text {
    max-width: 90px;
}

.am-checkbox.am-checkbox-checked .am-checkbox-inner {
    border-color: @theme_color !important;
    background: @theme_color !important;
}

.am-list .am-list-item.am-radio-item .am-list-line .am-list-extra .am-radio-inner {
    top: 50% !important;
}

.am-picker-popup-item {
  color: @theme_color !important;
}

.card-list .list-view-section-body {
    padding: 10px;
    background-color: #f5f5f8;
}

.am-tabs-horizontal {

    .am-tab-bar-item {
        position: relative;
    }
}

.zui-content {
    margin-top: 45px;
    -webkit-overflow-scrolling: touch;
}

.zui-sub-content {
    overflow-y: scroll;
    position: fixed;
    top: 44px;
    bottom: 0;
    z-index: 10;
    width: 100%;
    -webkit-overflow-scrolling: touch;
}

.zui-list-unstyled {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

.zui-clearfix:after,
.zui-clearfix:before {
    display: table;
    content: ' ';
}

.zui-clearfix:after {
    clear: both;
}

.zui-pull-right {
    float: right;
}

.zui-show {
    display: inline-block;
}

.zui-hidden {
    display: none !important;
}

.zui-table-cell {
    margin-bottom: 10px;
    padding: 0;
    background-color: #fff;
    border-radius: 7px;
    box-shadow: 4px 4px 6px 0 rgba(214, 203, 203, 0.4);
    overflow: hidden;
}

.zui-table-view-cell-body {
    position: relative;
    padding: 10px 0 0 15px;

    .body-title {
        width: 70vw;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 14px;
        color: #333;
    }

    .body-content {
        font-size: 12px;
        color: #465261;
        line-height: 30px;
    }
}

.zui-table-view-cell-footer {
    position: relative;
    height: 40px;
    background-color: #F9F9F9;

    .body-post {
        padding-left: 15px;
        opacity: 0.45;
        font-size: 12px;
        color: #465261;
        letter-spacing: 0;
        line-height: 40px;
    }

    .body-date {
        position: absolute;
        right: 15px;
        top: 50%;
        font-size: 12px;
        color: #465261;
        line-height: 14px;
        opacity: 0.45;
        transform: translateY(-50%);
    }
}

.zui-pane {
    margin: 15px 0;

    .zui-pane-title {
        display: inline-block;
        margin: 0;
        padding: 0 15px;
        color: @theme_color;
        font-weight: normal;
        font-size: 16px;
    }
}

//展示左对齐样式详情显示
.zui-list-unstyled.device-base-info {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 15px;
    font-size: 15px;
    background: #FFFFFF;
}

.zui-list-unstyled.device-base-info>li {
    position: relative;
    padding: 7px 0;
    line-height: 30px;
    color: #4A4A4A;
    min-height: 30px;
}

.zui-list-unstyled.device-base-info li:before,
.zui-list-unstyled.device-base-info li:after {
    content: '';
    display: block;
    clear: both;
    line-height: 1;
}

.zui-list-unstyled.device-base-info li:after {
    content: '';
    display: block;
    position: absolute;
    left: 110px;
    right: -15px;
    bottom: 0;
    height: 1px;
    background-color: #E0E0E0;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
}

.zui-list-unstyled.device-base-info li:last-child:after {
    height: 0;
}

.zui-list-unstyled.device-base-info>li>span:first-child {
    float: left;
    display: block;
    width: 110px;
    padding-right: 15px;
    opacity: .5;
}

.zui-list-unstyled.device-base-info>li>span:last-child {
    position: relative;
    display: block;
    min-height: 30px;
    word-break: break-word;
    overflow: hidden;
}

//底部按钮
.footer-btn-group {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 49px;
    line-height: 50px;
    background-color: #FBFBFB;
    z-index: 10;
}

.footer-btn-group:after {
    content: '';
    display: block;
    top: 0;
    width: 100%;
    height: 1px;
    background-color: #E0E0E0;
    transform: scaleY(.5);
    transform-origin: 0 0;
}

.footer-btn-group .left-btn {
    position: relative;
    float: left;
    width: 50%;
    text-align: center;
    color: #797979;
}

.footer-btn-group .left-btn:after {
    content: '';
    position: absolute;
    right: 0;
    top: 10px;
    width: 1px;
    height: 30px;
    background-color: #E3E3E3;
    transform: scaleX(.5);
    transform-origin: 100% 0;
}

.footer-btn-group .right-btn {
    float: right;
    width: 50%;
    text-align: center;
    background-color: #3AC17E;
    color: #FFFFFF;
}

.text-green {
    color: @theme_color !important;
}

.text-blue {
    color: #1ea5f5 !important;
}

.text-orange {
    color: #fe821e !important;
}

.text-red {
    color: #FF5745 !important;
}

.text-gray {
    color: #A6A6A6 !important;
}

.bg-blue {
    background-color: #e3f2fb !important;
}

.bg-white {
    background-color: #FFFFFF !important;
}

.bg-green {
    background-color: @theme_color !important;
}

.bg-orange {
    background-color: #fe821e !important;
}

.marginBottom45 {
  margin-bottom: 45px;
} 

.marginBttom60 {
    margin-bottom: 60px;
}

.zui-scroll-wrapper {
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.zui-scroll {
    position: absolute;
    z-index: 1;
    width: 100%;
    transform: translateZ(0);
}

/*四个方向的细线  begin*/

.hair-line-top,
.hair-line-right,
.hair-line-bottom,
.hair-line-left {
    position: relative;
}

.hair-line-top:before,
.hair-line-right:after,
.hair-line-bottom:after,
.hair-line-left:before {
    content: '';
    display: block;
    position: absolute;
    background-color: #E0E0E0 !important;
    transform-origin: 50% 50%;
}


/*上边线，下边线*/

.hair-line-top:before,
.hair-line-bottom:after {
    width: 100%;
    height: 1px;
    transform: scaleY(.5);
}

.hair-line-top:before {
    top: 0;
}

.hair-line-bottom:after {
    bottom: 0;
}


/*左边线，右边线*/

.hair-line-left:before,
.hair-line-right:after {
    width: 1px;
    height: 100%;
    transform: scaleX(.5);
}

.hair-line-left:before {
    left: 0;
}

.hair-line-right:after {
    right: 0;
}


/*四个方向的细线  end*/


.ref-window, .sub-window {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background-color: #f5f5f9;
    transition: transform 350ms cubic-bezier(.165, .84, .44, 1);
    transform: translateY(100%);

    &.active {
        transform: translateY(0);
    }
}

.ref-window {
    .am-list-item .am-list-line .am-list-extra {
        flex-basis: 50% !important;
    }

    .am-radio.am-radio-checked .am-radio-inner:after {
        border-color: @theme_color;
    }
}

.sub-window {
    .am-navbar-left {
        padding-left: 15px !important;
    }
}